
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 500px;
  color: black;
  border: solid black;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  color: black;
}

