

<div class = "saying">
  I love golf.   I live golf.  I dream golf. ... ... ... If only I knew how to golf.
</div>

<div class="card">
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="player">
      <mat-header-cell *matHeaderCellDef>
        <h2>Player</h2>
      </mat-header-cell>
      <mat-cell *matCellDef="let scorecard"><div>{{scorecard[col]}}</div></mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="col.name" *ngFor='let col of columnTitles'>
      <mat-header-cell *matHeaderCellDef>
        <div>
          <div class="hole">Hole: {{col.hole}}<br/></div>
          <div class ="par">Par: {{col.par}}<br/></div>
          <div class = "hcp">Hcp: {{col.hcp}}<br/></div>
          <div class = "yards">Yards: {{col.yards}}</div>
        </div>

        <div class = "tablerow">
          <h4> Score</h4>
          <input type = "number" value="0">
        </div>
      </mat-header-cell>


      <mat-cell *matCellDef="let scorecard"><div>{{scorecard[col]}}</div></mat-cell>

    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>
        <h2>Total</h2>
      </mat-header-cell>
      <mat-cell *matCellDef="let scorecard"><div>{{scorecard[col]}}</div></mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef = "let score; columns: displayedColumns;"></mat-row>


  </mat-table>



</div>


  <button mat-button>Save</button>
  <button mat-button [routerLink] = " ['/welcome']">START NEW
    GAME</button>
</div>


