/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button {
  height: 40px;
  width: 120px;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  background-color: lightgrey;
  margin-top: 15px;
  display: flex;
  justify-content: center;

}

body {
  background-color: lightblue;
}

#courseselect{
  font-size: 20px;
  align-items: center;
  margin-top: 5px;
  padding-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;

}

#teeselect {
  font-size: 20px;
  align-items: center;
  margin-top: 5px;
  padding-top: 30px;


}

.saying {
  margin-top: 30px;
  background-color: dimgrey;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}



